@model IEnumerable<FitCardCRUD.Models.Estabelecimento>

@{
    ViewBag.Title = "Listagem";
}

<h2>Listagem</h2>

<p>
    @Html.ActionLink("Criar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.estabNome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabNomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabCNPJ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabTelefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estabStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.estabNome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabNomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabCNPJ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabTelefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estabStatus)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
